@import './variables';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
  Helvetica, Roboto, Arial, sans-serif;
}

.app__container {
  display: flex;
  justify-content: space-between;
  height: 720px;

  .app__divisor {
    width: 5px;
    background: $gray-b;
    margin: 0 10px;
    height: 100%;
    border-radius: 10px;
  }
}
