.input__container {
  padding: 5px;
  
  .input {
    width: 100%;
    box-sizing: border-box;
    resize: none;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #d7d7d7;
    font-size: 14px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    background: #f7f7f7;

    &:focus {
      outline: none;
    }
  }
}
