@import '../../styles/variables';

.message {
  max-width: 350px;
  display: flex;
  justify-content: flex-start;
  padding: 5px 10px;
  border-radius: 20px;
  color: $black;
  align-self: flex-start;
  border: 1px solid $gray-c;
  background: $gray-c;
  margin: 2px 0;
  word-break: break-word;

  &.sender {
    border: 1px solid $blue;
    color: $white;
    background: $blue;
    justify-content: flex-end;
    align-self: flex-end;
  }

  &.typing {
    font-style: italic;
    color: $gray-a;
    border: none;
    background: none;
  }
}
